.attendance-list__content {
    width: 900px;
    margin: 0 auto;
}

.attendance-list__title {
    border-left: 8px solid #000;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

.attendance-list__date {
    width: 900px;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 50px;
}

.attendance-list__date--month {
    text-decoration: none;
    color: #737373;
    font-size: 16px;
    font-weight: bold;
}

.attendance-list__table {
    width: 900px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center
}

.table-title {
    width: 900px;
    height: 31px;
    padding: 5px 10px;
    color: #737373;
    border-bottom: 3px solid #E1E1E1;
}

.table-detail {
    width: 900px;
    height: 33px;
    padding: 0 10px;
    color: #737373;
    border-bottom: 2px solid #E1E1E1;
}

.detail-button {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    
}